<div class="container minimal-padding top-padding">
  <header>
    <nav>
      <div class="nav-right">
        <a href="/"><img src="/assets/images/ribose-logo-black.svg"></a>
      </div>
      <div class="nav-left">
        <a {% if page.url == '/' %} class="link-active" {% endif %} href="/">Featured</a>
        <a {% if page.url == '/project1(rename).html' %} class="link-active" {% endif %} href="/ribose-cli">Ribose CLI</a>
        <a {% if page.url == '/blog.html' %} class="link-active" {% endif %} href="/blog">Blog</a>
      </div>
    </nav>
  </header>
</div>



